* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62, 5%;

  --ff-font: 'Roboto', sans-serif;
  --hue: 267;
  --fc-button: hsla(var(--hue), 100%, 50%, 1);
  --fc-primary: hsla(var(--hue), 100%, 100%, 1);

  --bc-color: hsla(var(--hue), 100%, 86%, 1);
  --primary-color: hsla(var(--hue), 100%, 70%, 1);
}

body {
  background-color: var(--bc-color);
}

.page {
  text-align: center;
  margin: 6rem auto;
  width: 30rem;
  font-family: var(--ff-font);
  padding: 0 2rem 0;
}

header p {
  margin: 0.8rem auto 4.8rem;
}

img {
  border-radius: 50%;
  padding: 3.7px;
  border: solid 4px var(--primary-color);
  height: 10rem;
  width: 10rem;
  margin-bottom: 2.4rem;
}

li a {
  text-decoration: none;
  color: var(--fc-primary);
  height: 5.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


li {
  list-style: none;
  background-color: var(--primary-color);
  margin-bottom: 1.6rem;
  border-radius: 6px;
  text-transform: uppercase;
  transition: all 200ms;
}

li:hover {
  filter: brightness(150%);
}